@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap');
body { 
    margin: 0px;
    font-family: 'Gwendolyn', cursive;
}

header {
    background-color: #FBBF24;
    padding: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    border-radius: 0rem;
}

.minion {
    margin: auto;
    display: block;
    max-width: 25rem;
}
.container{
    display: block;
    text-align: center;
    font-size: larger;
}

.textbox {
    border: 1px solid black;
    width: 80%;
    height: 15vh;
    margin:auto;
    display: block;
    text-align: center;
    font-size: 20px;
}
.banana{
    max-width: 10rem;
    transform: rotate(25deg);
    padding: 0rem;
}

#btn-translate {
    padding: 0rem;
    display: block;
    background-color: transparent;
    border: 0px;
    text-align: center;
    margin: 0rem auto;
}

#output {
    border: 1px solid black;
    width: 80%;
    height: 15vh;
    margin: auto;
    margin:auto;
    display: block;  
    text-align: center;
}

.footer {
    background-color: #FBBF24;;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
}

.footer-heading {
    font-size: large;
    font-weight: bold;
}

.footer-body {
    font-size: large;
    color: red;
    font-weight: bold;
}